---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import { Image } from 'astro:assets';
import presse1 from '~/assets/images/presse1.jpg';
import presse2 from '~/assets/images/presse2.jpg';
import presse3 from '~/assets/images/presse3.jpg';
import presse4 from '~/assets/images/presse4.jpg';
import presse5 from '~/assets/images/presse5.jpg';
import presse6 from '~/assets/images/presse6.jpg';
import presse7 from '~/assets/images/presse7.jpg';
import presse8 from '~/assets/images/presse8.jpg';
import presse9 from '~/assets/images/presse9.jpg';
import presse10 from '~/assets/images/presse10.jpg';
import presse11 from '~/assets/images/presse11.jpg';
import presse12 from '~/assets/images/presse12.jpg';
import presse13 from '~/assets/images/presse13.jpg';

const metadata = {
  title: 'Presse',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Soutenez le projet',
          href: 'https://fr.tipeee.com/transiscapade',
        },
        {
          variant: 'primary',
          text: 'Vidéos',
          href: 'https://www.youtube.com/@Transiscapade',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      Photos 2880 x 2156
    </Fragment>

    <Fragment slot="subtitle">
      <div class="dark:text-slate-200">
          Les photos ci-dessous sont à votre disposition.
          <br/><br/>Pour les récupérer :  
          <br/><br/>Clic droit > Enregistrer sous...
          <br/><br/>La taille est de : 2880 px x 2156 px
          <br/><br/>Le contenu peut être long à charger en fonction de votre connexion.
      </div>
    </Fragment>
  </Hero>

  <Image src={presse1} alt="photo 1 pour la presse" width="2880" height="2156" />
  <Image src={presse2} alt="photo 2 pour la presse" width="2880" height="2156" />
  <Image src={presse3} alt="photo 3 pour la presse" width="2880" height="2156" />
  <Image src={presse4} alt="photo 4 pour la presse" width="2880" height="2156" />
  <Image src={presse5} alt="photo 5 pour la presse" width="2880" height="2156" />
  <Image src={presse6} alt="photo 6 pour la presse" width="2880" height="2156" />
  <Image src={presse7} alt="photo 7 pour la presse" width="2880" height="2156" />
  <Image src={presse8} alt="photo 8 pour la presse" width="2880" height="2156" />
  <Image src={presse9} alt="photo 9 pour la presse" width="2880" height="2156" />
  <Image src={presse10} alt="photo 10 pour la presse" width="2880" height="2156" />
  <Image src={presse11} alt="photo 11 pour la presse" width="2880" height="2156" />
  <Image src={presse12} alt="photo 12 pour la presse" width="2880" height="2156" />
  <Image src={presse13} alt="photo 13 pour la presse" width="1281" height="585" />

</Layout>
